*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Kanit', sans-serif;
}
.brand-logo{
    color: #DAA520 !important;
}

.sidenav-trigger {
    color: #DAA520;
}

.btn-floating.halfway-fab {
    bottom: 8px;
}

#teams {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    text-align: center;
}

.center-webkit {
    text-align: center !important;
}

.nav-color {
    color: #DAA520 !important;
}

.icon {
    color: #DAA520 !important;
}

.set{
    position: fixed;
    z-index:2;
    bottom: 0;
    right: 0;
    display: none;
    justify-content: center;
    left: 0;
}
nav{
    position: sticky;
}

.mobile{
    background-color: #000000;
    width: 100%;
    height: 4.4rem;
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
}

.mobile ul{
    justify-content: space-evenly;
    display: flex;
}

ul#view-mobile{
    height: 100%;
}

.mobile ul .nav-item{
    cursor: pointer;
    text-transform:capitalize;
    transition: .2s linear;
}

.mobile ul .nav-item a{
    color: #fff;
    transition: .2s linear;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 1rem;
}

.mobile ul .nav-item i{
    font-size: 2rem;
    transition: .2s linear;
}

#footer{
    width: 100%;
    text-align: center;
    padding-bottom: 1.4rem;
    position: relative;
    bottom: 0;
    transition:margin-left 1s;
  }

  #footer p {
    font-size: .8rem;
    color:  #a8b2d1;
  }

  #footer>a {
    text-decoration: none;
  }

@media only screen and (max-width: 992px) {
    #teams {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .set {
        display: flex;
    }
    #footer{
        display: block;
    }
}

@media only screen and (max-width: 768px) {
    #teams {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .mobile {
        width: 70vw;
    }

    #footer{
        display: none;
    }
    .mobile ul .nav-item i {
        font-size: 1.8rem;
    }
}

@media (min-width:500px) and (max-width:768px){
    .mobile {
        width: 80vw;
    }
    #footer{
        display: none;
    }

    .mobile ul .nav-item i {
        font-size: 1rem;
    }
}

@media (max-width:500px){
    #footer{
        display: none;
    }
    .mobile {
        width: 100vw;
        height: 4rem;
    }
    .mobile ul .nav-item i {
        font-size: 1rem;
    }
    .mobile ul .nav-item a {
        font-size: .9rem;
    }
}

@media (max-width:320px){
    .mobile ul li.nav-item a {
        padding: 0 .4rem;
    }
}



