*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Kanit', sans-serif;
}
.brand-logo{
    color: #DAA520 !important;
}

.sidenav-trigger {
    color: #DAA520;
}

#teams {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    text-align: center;
}

.center-webkit {
    text-align: center !important;
}

.nav-color {
    color: #DAA520 !important;
}

.icon {
    color: #DAA520 !important;
}

@media only screen and (max-width: 992px) {
    #teams {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 600px) {
    #teams {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}


