#teams {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    text-align: center;
}

.center-webkit {
    text-align: center !important;
}

@media only screen and (max-width: 992px) {
    #teams {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 600px) {
    #teams {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}